@{
    ViewData["Title"] = "Home Page";
}

@model Nile.Models.ViewModels.BookListViewModel

<div class="text-center">
    <h2 class="display-4">Welcome to Nile.com </h2>
    <h4>World's longest river; World's largest bookstore.</h4>
    <br />
    <br />
</div>
<div class="align-items-center">
    <h5 class="font-weight-bold rounded w-25">Inventory:</h5>
</div>
<br />

<!--
    Use at least three new Bootstrap
    commands that you have never used before that are different from those used in Chapter 7.
    (#notcoveredinthevideos #notmeanttobedifficult – List the commands you used in the comments
    when you submit the program.)

    ADDITIONAL BOOTSTRAP COMMANDS USED:
    - <h5> tag (div on top of page): 
    - <div> tag: w-75
    - <h5> tag (div inside the for loop): bg-dark text-warning
-->
<div>
    @foreach (var x in Model.Books)
    {
        <div class="list-group justify-content-sm-center">
            <h5 class="list-group-item bg-dark text-warning">@x.Title</h5>
            <p class="list-group-item"><b>Author:</b> @x.Author</p>
            <p class="list-group-item"><b>Publisher:</b> @x.Publisher</p>
            <p class="list-group-item"><b>ISBN:</b> @x.ISBN</p>
            <p class="list-group-item"><b>Classification:</b> @x.Classification</p>
            <p class="list-group-item"><b>Category:</b> @x.Category</p>
            <p class="list-group-item"><b>Price:</b> $@x.Price</p>
            <p class="list-group-item"><b># Pages:</b> @x.NumPages</p>
            <br /><br />
        </div>
    }

    <div page-model="@Model.PagingInfo" page-action="Index"
         page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" class="btn-group pull-right m-1">

    </div>
</div>
